# dependencies
node_modules/

# build output
dist/
src/spec/

# local env
.env

# logs
logs
*.log

# test coverage
coverage/

# pnpm lockfile backup
pnpm-lock.yaml.*

# TypeScript cache
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# misc
.DS_Store

/src/infrastructure/database/generated/prisma
